<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Insira seu e-mail
      <p class="subTitle">Para receber o link para redefinição de senha</p>
    </ion-title>
  </div>
  <div>
    <ion-item>
      <ion-input class="input" placeholder="E-mail" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"> </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
